// menu-button
.menu-btn{
    position: absolute;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include ease-in-out($ease-in-out);
    .btn-line{
        width: 20px;
        height: 3px;
        background: #ffffff;
        margin: 0 0 5px 0;
        @include ease-in-out($ease-in-out);
    }
    &:hover{
        .btn-line{
            background: $secondery-color;
        }
    }
    &.close{
        transform: rotate(180deg);
        z-index: 4;
        .btn-line{
            &:nth-child(1){
                transform: rotate(45deg) translate(5px, 5px);
            }
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(3){
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}

.menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0.9;

    &.show{
        visibility: visible;
    }
    
    &-branding,
    &-nav{

        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    &-nav{
        margin: 0;
        padding: 0;
        background: darken($primary-color, 5);
        list-style: none;
        @include ease-in-out($ease-in-out);
        @include prefix('transform', (-webkit, o, moz), translate3d(0, 100%, 0));

        &.show{
            @include prefix('transform', (-webkit, o, moz), translate3d(0, 0, 0));
        }
    }

    &-branding{
        background: $primary-color;
        @include prefix('transform', (-webkit, o, moz), translate3d(0, -100%, 0));
        @include ease-in-out($ease-in-out);
        &.show{
            @include prefix('transform', (-webkit, o, moz), translate3d(0, 0, 0));
        }
        
        .portrait{
            width: 250px;
            height: 250px;
            background: url('../dist/img/portrait.jpg');
            border-radius: 50%;
            border: 3px solid $secondery-color;
        }
    }
}

.nav-item{
    @include prefix('transform', (-webkit, o, moz), translate3d(600px, 0, 0));
    @include ease-in-out($ease-in-out);

    .nav-link{
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        font-size: 30px;
        padding: 1rem 0;
        font-weight: 300;
        text-decoration: none;
        @include ease-in-out($ease-in-out);

        &.current{
            color: $secondery-color;
        }
        &:hover{
            color: $secondery-color;
        }
    }

    &.show{
        @include prefix('transform', (-webkit, o, moz), translate3d(0, 0, 0));
    }
}

@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}){
        @include prefix('transition-delay', (-webkit, o, moz), $x * 0.1s); 
    }
}