// colors variables
$primary-color: #444;
$secondery-color: #eece1a;

// background & images variables
$show-home-background-image: true;
$background-home-image: url('img/background.jpg');
$background-opacity: 0.6;

// transition times variables
$ease-in-out: '1s';
