// Buttons
.btn{
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;

    &:hover{
        background: $secondery-color;
        color: set-text-color($secondery-color);
        
    }
}

.btn-light{
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}

.btn-dark{
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}