@import 'variables';
@import 'mixins';


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    color: #ffffff;
    background: $primary-color;
    height: 100%;
    line-height: 1.5;

    @include background-control();
    .overlay{
    @include overlay($primary-color);
    }
}

// headings
h1,h2,h3{
    font-weight: 400;
    &.lg-heading{
        font-size: 6rem;
    }
    &.small-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.1);
    }

}
a{
    text-decoration: none;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
}
.secondery-text{
    color: $secondery-color;
}
main{
    
    padding: 4rem;
    height: 100%;
    .icons{
        margin-top: 1rem;
        a{
            color: #ffffff;
            padding: 0.5rem; 
            &:hover{
                color: $secondery-color;
                @include ease-in-out('1.5s');
            }
            
        }
    }

    &#home{
        overflow: hidden;
        h1{
            margin-top: 20vh;
        }
    }
}