@import 'variables';
@import 'mixins';
@import 'components';
@import 'menu';
@import 'about';
@import 'work';
@import 'contact';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    color: set-text-color($primary-color);
    background: $primary-color;
    height: 100%;
    line-height: 1.5;

    @include background-control();
    .overlay{
        @include overlay($primary-color);
    }
}

// headings
h1,h2,h3{
    font-weight: 400;
    &.lg-heading{
        font-size: 6rem;
    }
    &.small-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.1);
    }

}
a{
    text-decoration: none;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
}
.secondery-text{
    color: $secondery-color;
}
main{
    
    padding: 4rem;
    min-height: calc(100vh - 60px);
    .icons{
        margin-top: 1rem;
        a{
            color: set-text-color($primary-color);
            padding: 0.5rem; 
            &:hover{
                color: $secondery-color;
                @include ease-in-out($ease-in-out);
            }
            
        }
    }

    &#home{
        overflow: hidden;
        h1{
            margin-top: 20vh;
        }
    }
}

footer#main-footer{
    width: 100%;
    text-align: center;
    color: set-text-color($primary-color);
    background: #000;
    padding: 1rem;
    height: 60px;
}






@import 'mobile';